@page "/Feiras"
@using src.Data
@inject Facade Facade

<style>

    body, html {
        height: 100%;
        width: 100%;
    }

    .title-bar {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 2em;
    }

        .title-bar h1 {
            color: green;
        }

    .feiras {
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .feira-square {
        justify-self: center;
        align-self: center;
        width: 150px;
        height: 150px;
        border: solid;
    }

        .feira-square:before {
            content: "";
            float: left;
            padding-top: 10%; /* initial ratio of 1:1*/
        }

        .feira-square button {
            height: 100%;
            width: 100%;

        }

        .feira-square h1 {
            margin-top: 5px;
        }

    .feiras-container {
        height: 70%;
        grid-template-columns: 5% auto 5%;
        grid-template-rows: auto;
        display: @feirasStyle;
    }

    .icon {
        justify-self: center;
        align-self: center;
    }

    .fa-arrow-left {
        font-size: 50px;
        color: var(--color-blue);
    }

    .fa-arrow-right {
        font-size: 50px;
        color: var(--color-blue);
    }

    .filtered-feira-container{
        display: @filteredStyle;
        margin-top: 10%;
        grid-template-columns: auto;
    }

    .filtered-feira {
        border: solid;
        justify-self: center;
        align-self: center;
        width: 300px;
        height: 300px;
    }

    .filtered-feira button {
        height: 100%;
        width: 100%;
    }

</style>

<div class="title-bar">
    <h1>Escolha a feira</h1>

    <input type="text" placeholder="Procurar feira" @bind="@filterValue">

    <button @onclick="applyFilter">Procurar</button>
</div>

<div class="feiras-container">
    <div class="icon">
        <button @onclick="decrementCounter"><i class="fa fa-arrow-left"></i></button>
    </div>
    <div class="feiras">
        <div class="feira-square">
            <button><a href="catalogo/Feira1"><img src="css/feira.jpg" width="100%" height="100%" /></a></button>
            <h1>@shownFeiras[0]</h1>
        </div>
        <div class="feira-square">
            <button><a href="catalogo/Feira2"><img src="css/feira.jpg" width="100%" height="100%" /></a></button>
            <h1>@shownFeiras[1]</h1>
        </div>
        <div class="feira-square">
            <button><a href="catalogo/Feira3"><img src="css/feira.jpg" width="100%" height="100%" /></a></button>
            <h1>@shownFeiras[2]</h1>
        </div>
        <div class="feira-square">
            <button><a href="catalogo/Feira4"><img src="css/feira.jpg" width="100%" height="100%" /></a></button>
            <h1>@shownFeiras[3]</h1>
        </div>
        <div class="feira-square">
            <button><a href="catalogo/Feira5"><img src="css/feira.jpg" width="100%" height="100%" /></a></button>
            <h1>@shownFeiras[4]</h1>
        </div>
        <div class="feira-square">
            <button><a href="catalogo/Feira"><img src="css/feira.jpg" width="100%" height="100%" /></a></button>
            <h1>@shownFeiras[5]</h1>
        </div>
    </div>
    <div class="icon">
        <button @onclick="incrementCounter"><i class="fa fa-arrow-right"></i></button>
    </div>
</div>
<div class="filtered-feira-container">
    <div class="filtered-feira">
        <button><a href="catalogo/Feira"><img src="css/feira.jpg" width="100%" height="100%" /></a></button>
        <h1>Feira0</h1>
    </div>
</div>






@code {
    private List<String>? feiras;
    private List<String>? shownFeiras;
    private String filterValue;
    private string feirasStyle = "grid";
    private string filteredStyle = "none";
    private int index = 0;

    protected override async Task OnInitializedAsync()
    {
        this.index = 0;
        feiras = new List<String>();
        Console.WriteLine("Ola");
        shownFeiras = new List<string>(6);
        feiras.Add("Feira1");
        feiras.Add("Feira2");
        feiras.Add("Feira3");
        feiras.Add("Feira4");
        feiras.Add("Feira5");
        feiras.Add("Feira6");
        feiras.Add("Feira7");
        feiras.Add("Feira8");
        feiras.Add("Feira9");
        feiras.Add("Feira10");
        feiras.Add("Feira11");
        feiras.Add("Feira12");
        this.updateFeiras();
    }

    private void updateFeiras(){
        for(int i=0; i<6; i++){
            shownFeiras.Insert(i, feiras.ElementAt(index * 6 + i));
        }
    }

    private void decrementCounter(){
        if (this.index != 0){
            this.index--;
        }
        this.updateFeiras();
    }

    private void incrementCounter(){
        if (feiras.Capacity >= (this.index+1)*6){
            this.index++;
        }
        this.updateFeiras();
    }

    public void applyFilter()
    {
        this.feirasStyle = "none";
        this.filteredStyle = "grid";
        //Console.WriteLine("Ola");
        //filteredFeiras = new List<string>();
        // TODO
        /*foreach (String feira in feiras)
        {
            if (feira == filterValue)
            {
                filteredFeiras.Add("Feira7");
            }
        }*/
    }
}