@page "/catalogo/{nomeFeira}"
@using src.Data
@inject Facade Facade

<h3>CatalogoFeira</h3>

<p>@nomeFeira</p>
<p>@descfeira</p>

<div class="container-feiras">
    <div class="top-row-feiras">
        <div class="top-left-feira">
            <a href="catalogo/@nomeFeira/@feirasShown[0]">@feirasShown[0]</a>
        </div>
        <div class="top-middle-feira">
            <a href="catalogo/@nomeFeira/@feirasShown[1]">@feirasShown[1]</a>
        </div>
        <div class="top-right-feira">
            <a href="catalogo/@nomeFeira/@feirasShown[2]">@feirasShown[2]</a>
        </div>
    </div>
    <div class="bottom-row-feiras">
        <div class="bottom-left-feira">
            <a href="catalogo/@nomeFeira/@feirasShown[3]">@feirasShown[3]</a>
        </div>
        <div class="bottom-middle-feira">
            <a href="catalogo/@nomeFeira/@feirasShown[4]">@feirasShown[4]</a>
        </div>
        <div class="bottom-right-feira">
            <a href="catalogo/@nomeFeira/@feirasShown[5]">@feirasShown[5]</a>
        </div>
    </div>
    
    
</div>


<button class="left-button" @onclick="goBackFeiras"><a>Left</a></button>
<button class="right-button" @onclick="advanceFeiras"><a>Right</a></button>


@code {
    [Parameter]
    public String? nomeFeira{ get; set; }
    private String? descfeira;
    private List<string>? catalogo;
    private List<string>? feirasShown;
    private int index;

    protected override async Task OnInitializedAsync()
    {
        descfeira = await Facade.getDetalhesFeira();
        catalogo = await Facade.getCatalogo();
        feirasShown = new List<string>();
        for(int i=0; i<6; i++){
            feirasShown.Add(catalogo[i]);
        }
        index = 0;
    }

    private void advanceFeiras(){
        index++;
        feirasShown.Clear();
        for(int i=index*6; i<(index+1)*6; i++){
            feirasShown.Add(catalogo[i]);
        }
    }

    private void goBackFeiras()
    {
        feirasShown.Clear();
        if (index > 0)
        {
            index--;
            for (int i = index * 6; i < (index + 1) * 6; i++)
            {
                feirasShown.Add(catalogo[i]);
            }
        }
        
    }

    public void OnGet(String feira){
        this.nomeFeira = feira;
    }
}
